* {
  box-sizing: border-box; }

#mainContainer #welcome {
  padding: 10px 10px 10px 0; }

#mainContainer #dreamDisplay {
  background-color: pink;
  height: 400px; }
  #mainContainer #dreamDisplay #dreamDescBox {
    min-height: 30px;
    background-color: #dff7ff; }
  #mainContainer #dreamDisplay #typeBox {
    min-height: 30px;
    background-color: #b9fce6; }

#mainContainer #configBox {
  background-color: aquamarine;
  min-height: 400px; }
  #mainContainer #configBox #dreamInput #submitDream {
    background-color: pink; }
  #mainContainer #configBox #dreamInput #submitDream:hover {
    background-color: pink;
    cursor: pointer; }
  #mainContainer #configBox #dreamInput #submitDream:active {
    background-color: #ff8c9f; }
