* {
  box-sizing: border-box; }

body {
  background-color: #e4d9fc; }

.navbar {
  background-color: pink; }

#mainContainer {
  background-color: #ecc4ff; }
  #mainContainer #dreamDisplay {
    background-color: pink;
    height: 400px; }
    #mainContainer #dreamDisplay #dreamTitleBox {
      min-height: 30px;
      background-color: #b8f5e0; }
    #mainContainer #dreamDisplay #dreamDescBox {
      min-height: 30px;
      background-color: #dff7ff; }
    #mainContainer #dreamDisplay #typeBox {
      min-height: 30px;
      background-color: #b9fce6; }
    #mainContainer #dreamDisplay #submitPass {
      background-color: #dff7ff; }
  #mainContainer #configBox {
    background-color: aquamarine;
    min-height: 400px; }
    #mainContainer #configBox #dreamInput #submitDream {
      background-color: pink; }
    #mainContainer #configBox #dreamInput #submitDream:hover {
      background-color: pink;
      cursor: pointer; }
    #mainContainer #configBox #dreamInput #submitDream:active {
      background-color: #ff8c9f; }

#subContainer {
  background-color: #ecc4ff; }
  #subContainer #analytics {
    margin: 30px;
    background-color: #bff0f0;
    min-height: 300px; }
  #subContainer #palettes {
    margin: 30px;
    background-color: #bca8d6;
    min-height: 300px;
    min-width: 200px; }
    #subContainer #palettes .palette {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-content: flex-start; }
    #subContainer #palettes .color {
      min-width: 30px;
      min-height: 30px; }
    #subContainer #palettes #palette1 #color1 {
      background-color: #d7b9d5; }
    #subContainer #palettes #palette1 #color2 {
      background-color: #ada7c9; }
    #subContainer #palettes #palette1 #color3 {
      background-color: #f4cae0; }
    #subContainer #palettes #palette1 #color4 {
      background-color: #64a6bd; }
    #subContainer #palettes #palette2 #color1 {
      background-color: #ffd7ba; }
    #subContainer #palettes #palette2 #color2 {
      background-color: #d8e2dc; }
    #subContainer #palettes #palette2 #color3 {
      background-color: #fae1dd; }
    #subContainer #palettes #palette2 #color4 {
      background-color: #fec5bb; }
    #subContainer #palettes #palette3 #color1 {
      background-color: #7bcc9d; }
    #subContainer #palettes #palette3 #color2 {
      background-color: #8895e0; }
    #subContainer #palettes #palette3 #color3 {
      background-color: #d9ade2; }
    #subContainer #palettes #palette3 #color4 {
      background-color: #45745e; }
    #subContainer #palettes #palette4 #color1 {
      background-color: #bde0fe; }
    #subContainer #palettes #palette4 #color2 {
      background-color: #ffafcc; }
    #subContainer #palettes #palette4 #color3 {
      background-color: #ffc8dd; }
    #subContainer #palettes #palette4 #color4 {
      background-color: #cdb4db; }
    #subContainer #palettes #palette5 #color1 {
      background-color: #e7ecef; }
    #subContainer #palettes #palette5 #color2 {
      background-color: #a3cef1; }
    #subContainer #palettes #palette5 #color3 {
      background-color: #6096ba; }
    #subContainer #palettes #palette5 #color4 {
      background-color: #274c77; }
