
// Color Palette Collections


*{
    box-sizing:border-box;
}



body{
    background-color:rgb(228, 217, 252);
}

.navbar{
    background-color:pink;
}

#mainContainer{

    background-color:rgb(236, 196, 255);

    #dreamDisplay{
        background-color:pink;
        height:400px;
        #dreamTitleBox{
            min-height:30px;
            background-color:rgb(184, 245, 224);
        }
        #dreamDescBox{
            min-height:30px;
            background-color:rgb(223, 247, 255);
        } 
        #typeBox{
            min-height:30px;
            background-color:rgb(185, 252, 230);
        }
    }
    
    #configBox{
        background-color:aquamarine;
        min-height:400px;
    
        #dreamInput{
            #submitDream{
                background-color:pink;
            }
            #submitDream:hover{
                background-color:pink;
                cursor:pointer;
            }
            #submitDream:active{
                background-color:rgb(255, 140, 159);
            }
        }
    }

}

#subContainer{

    background-color: rgb(236, 196, 255);

    #analytics{
        margin: 30px;
        background-color:rgb(191, 240, 240);
        min-height:300px;
    }
    #palettes{
        margin:30px;
        background-color:rgb(188, 168, 214); 
        min-height:300px;
        min-width:200px;
        .palette{
            display:flex;
            justify-content:flex-start;
            // flex-wrap:wrap;
            flex-direction:row;
            align-content:flex-start;  
        }
        .color{
            min-width:30px;
            min-height:30px;
        }
        #palette1{
            #color1{
                background-color:#d7b9d5;
            } 
            #color2{
                background-color:#ada7c9;
            }
            #color3{
                background-color:#f4cae0;
            }
            #color4{
                background-color:#64a6bd;
            }
        }
        #palette2{
            #color1{
                background-color:#ffd7ba;
            }
            #color2{
                background-color:#d8e2dc;
            }
            #color3{
                background-color:#fae1dd;
            }
            #color4{
                background-color:#fec5bb;
            }
        }
        #palette3{
            #color1{
                background-color:rgb(123, 204, 157);
            }
            #color2{
                background-color:rgb(136, 149, 224);
            }
            #color3{
                background-color:rgb(217, 173, 226);
            }
            #color4{
                background-color:rgb(69, 116, 94);
            }
        }
        #palette4{
            #color1{
                background-color:#bde0fe;
            }
            #color2{
                background-color:#ffafcc;
            }
            #color3{
                background-color:#ffc8dd;
            }
            #color4{
                background-color:#cdb4db;
            }
        }
        #palette5{
            #color1{
                background-color:#e7ecef;
            }
            #color2{
                background-color:#a3cef1;
            }
            #color3{
                background-color:#6096ba;
            }
            #color4{
                background-color:#274c77;
            }
        }
    }
}


