*{
    box-sizing:border-box;
}

#mainContainer{


    #welcome{
        padding:10px 10px 10px 0;
        
    }

    #dreamDisplay{
        background-color:pink;
        height:400px;
        #dreamTitleBox{
            min-height:30px;
            background-color:rgb(184, 245, 224);
        }
        #dreamDescBox{
            min-height:30px;
            background-color:rgb(223, 247, 255);
        } 
        #typeBox{
            min-height:30px;
            background-color:rgb(185, 252, 230);
        }
    }
    
    #configBox{
        background-color:aquamarine;
        min-height:400px;
    
        #dreamInput{
            #submitDream{
                background-color:pink;
            }
            #submitDream:hover{
                background-color:pink;
                cursor:pointer;
            }
            #submitDream:active{
                background-color:rgb(255, 140, 159);
            }
        }
    }

}

#subContainer{
    #analytics{
        margin: 30px;
        background-color:rgb(191, 240, 240);
        min-height:300px;
    }
    #palettes{
        margin:30px;
        background-color:rgb(188, 168, 214); 
        min-height:300px;
    }
}


