
// mainpage settings
@mixin font_settings{
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding:5px;
    font-weight:500;
}

// welcome page settings
@mixin welcome_font_settings{
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight:500;
    padding:9px;
    color:rgb(69, 69, 73);
}

*{
    box-sizing:border-box;
}

body{
    background-color:rgb(228, 217, 252);
}

.navbar{
    @include font_settings;
    background-color:pink;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#mainContainer{

    background-color:rgb(236, 196, 255); 

    #dreamDisplay{
        background-color:pink;
        height:430px;
        margin-top: 10px;
        border: 5px solid white;
        @include font_settings;
        h3{
            padding:5px;
        }
        #dreamTitleBox{
            min-height:30px;
            background-color:rgb(184, 245, 224);
            padding:5px;
        }
        #dreamDescBox{
            min-height:30px;
            background-color:rgb(223, 247, 255); 
            padding:5px;
        } 
        #typeBox{
            min-height:30px;
            background-color:rgb(185, 252, 230);
            padding:5px;
        }
        #dateBox{
            min-height:30px;
            background-color:rgb(209, 255, 240);
            padding:5px;
        }
        #submitPass{
            background-color:rgb(185, 252, 230); 
        }
    }
    
    #configBox{
        background-color:aquamarine;
        min-height:400px;
        margin-top: 10px;
        border: 5px solid white;
        @include font_settings;
        #dreamInput{
            #submitDream{
                background-color:pink;
            }
            #submitDream:hover{
                background-color:pink;
                cursor:pointer;
            }
            #submitDream:active{
                background-color:rgb(255, 140, 159);
            }
        }
    }

}



#subContainer{

    background-color: rgb(236, 196, 255);
    @include font_settings;
    #analytics{
        border: 5px solid white;
        margin: 30px;
        background-color:rgb(191, 240, 240);
        min-height:300px;
        #analyticsContent {
            margin: 20px;
        }
    }
    #palettes{
        border: 5px solid white;
        margin:30px;
        background-color:rgb(188, 168, 214); 
        min-height:300px;
        min-width:200px;
        #paletteContent {
            margin: 10px;
        }
        h6{
            padding-left:5px;
        }
        .palette{
            display:flex;
            justify-content:flex-start;
            // flex-wrap:wrap;
            flex-direction:row;
            align-content:flex-start;  
        }
        .color{
            min-width:30px;
            min-height:30px;
        }
        #palette1{
            #color1{
                background-color:#d7b9d5;
            } 
            #color2{
                background-color:#ada7c9;
            }
            #color3{
                background-color:#f4cae0;
            }
            #color4{
                background-color:#64a6bd;
            }
        }
        #palette2{
            #color1{
                background-color:#ffd7ba;
            }
            #color2{
                background-color:#d8e2dc;
            }
            #color3{
                background-color:#fae1dd;
            }
            #color4{
                background-color:#fec5bb;
            }
        }
        #palette3{
            #color1{
                background-color:#bde0fe;
            }
            #color2{
                background-color:#ffafcc;
            }
            #color3{
                background-color:#ffc8dd;
            }
            #color4{
                background-color:#cdb4db;
            }
        }
        #palette4{
            #color1{
                background-color:#d8f3dc;
            }
            #color2{
                background-color:#b7e4c7;
            }
            #color3{
                background-color:#52b788;
            }
            #color4{
                background-color:#2d6a4f;
            }
        }
        #palette5{
            #color1{
                background-color:#e7ecef;
            }
            #color2{
                background-color:#a3cef1;
            }
            #color3{
                background-color:#6096ba;
            }
            #color4{
                background-color:#274c77;
            }
        }
    }
}




// date picker
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background:#c4c4c4;  
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    color:#FFFFFF;
    background:#f0add9;  
}
.ui-datepicker table {
	width: 100%;
	font-size: .7em;
    font-family:arial;
	margin: 0 0 .4em;
    color:#5c5c5c;
    background:#edc6ff;    
}
.ui-datepicker td { 
	border: 0;
	padding: 1px;
}

.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: none;
}

